{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="parallax-container">
  <div class="parallax"><img src="{% static "images/sommerhus.jpg" %}"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Sankt Nicolai Kirke</h2>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Adresse</span>
            <p>Kirkestræde 26<br>4600 Køge</p>
          </div>
          <div class="card-action">
            <a target="external_link" href="https://goo.gl/maps/JSMYDpF7JzA2"><i class="material-icons">map</i></a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Parkering</span>
            <p>Vær opmærksom på der er få parkeringspladser tæt på kirken og der opkræves betaling på de fleste parkeringspladser i Køge bymidte</p>
          </div>
          <div class="card-action">
            <a target="external_link" href="https://www.koege.dk/parkering"><i class="material-icons">map</i></a>
          </div>
        </div>
  </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="{% static "images/kirke.jpg" %}"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Festen</h2>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Adresse</span>
            <p>Perikonvej 27<br>4600 Køge</p>
          </div>
          <div class="card-action">
            <a target="external_link" href="https://goo.gl/maps/Rn6DNMQTzouhhZv66"><i class="material-icons">map</i></a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Fest og middag</span>
            <p>Efter kirken vil der blive serveret en velkomstdrink eller to, mens vi bliver fotograferet.</p>
            <p>Velkomstdrinks vil blive serveret cirka klokken 17:30, herefter middag, fest, musik, dans, drinks, øl og vin og natmad</p>
            <p>Taler og festlige indslag, skal koordineres med Kim Elmer (kimelmer@gmail.com / 30 54 05 96)</p>
          </div>
          <div class="card-action">
            <a target="external_link" href="mailto:kimelmer@gmail.com?subject=Anna%20og%20Jakobs%20Bryllup"><i class="material-icons">email</i></a>
            <a target="external_link" href="tel:30540596"><i class="material-icons">phone</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="{% static "images/perikonvej.jpg" %}"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Overnatning</h2>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Adresse</span>
            <p>Perikonvej 23<br>4600 Køge</p>
          </div>
          <div class="card-action">
            <a target="external_link" href="https://goo.gl/maps/kQoE7ate6y26wqG37"><i class="material-icons">map</i></a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Telt eller hotel</span>
            <p>Vi har fået lov at låne græsplænen hos naboen, så har man lyst til at overnatte i telt, er man velkommen til at slå teltet op. Giv os gerne besked herom, da vi så vil sørge for der er morgenmad dagen efter. Vi vil dog ikke love vi serverer den :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="{% static "images/telte.jpg" %}"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parkering</h2>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Adresse</span>
            <p>Boholtevej 97<br>4600 Køge</p>
          </div>
          <div class="card-action">
            <a target="external_link" href="https://goo.gl/maps/sN2z8TQCJwFJB6YM9"><i class="material-icons">map</i></a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Boholte Hallen</span>
            <p>Parkeringspladserne ved Boholte Hallen, er cirka 200 meter fra vores adresse.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="{% static "images/parkering.jpg" %}"></div>
</div>
{% endblock %}