{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="header special-header">Anna + Jakob</h1>
        <h3 class="header">Kære familie og venner</h3>
        <p class="flow-text">Vi skal giftes – igen – og det vil vi gerne fejre med jer!</p>

        <p class="flow-text">Klik på menuerne for at læse om de praktiske dele af brylluppet og se vores ønskeliste.</p>

        <p class="flow-text">Vi har også lavet en side, som kun er for jer gæster. Her kan I skrive sammen eller til de andre gæster om alt fra muligheder for at køre sammen med andre til...</p>
    </div>
{% endblock %}